			<div class="ui vertical footer segment">
				<div class="ui center aligned container">
					<!-- TODO: fix foramatting here -->
				  <div class="ui stackable inverted divided grid">
					<div class="three wide column">
					  <h4 class="ui inverted header">Contact</h4>
					  <div class="ui inverted link list">
						<a href="mailto:permosegaard@googlemail.com" class="item">
							<i class="inverted mail outline icon"></i>
							Email
						</a>

						<a href="skype:per.mosegaard" class="item">
							<i class="inverted skype icon"></i>
							Skype
						</a>

						<a href="http://github.com/permosegaard/" class="item">
							<i class="inverted github icon"></i>
							Github
						</a>
						
						<a href="https://uk.linkedin.com/in/per-mosegaard-87392021" class="item">
							<i class="inverted linkedin icon"></i>
							Linkedin
						</a>

					  </div>
					</div>
					<div class="three wide column">
					  <h4 class="ui inverted header">Select Ramblings</h4>
					  <div class="ui inverted link list">
						<a href="#" class="item">
							<i class="inverted right caret icon"></i>
							TBD
						</a>

						<a href="#" class="item">
							<i class="inverted right caret icon"></i>
							TBD
						</a>

						<a href="#" class="item">
							<i class="inverted right caret icon"></i>
							TBD
						</a>

						<a href="#" class="item">
							<i class="inverted right caret icon"></i>
							TBD
						</a>
					  </div>
					</div>
					<div class="three wide column">
					  <h4 class="ui inverted header">Procrastination</h4>
					  <div class="ui inverted link list">
						<a href="http://webchat.freenode.net/" class="item">
							<i class="inverted terminal icon"></i>
							IRC
						</a>

						<a href="http://reddit.com/r/netsec+programming+networking" class="item">
							<i class="inverted reddit icon"></i>
							Reddit
						</a>

						<a href="http://slashdot.org/" class="item">
							<i class="inverted right caret icon"></i>
							Slashdot
						</a>

						<a href="http://news.ycombinator.com/" class="item">
							<i class="inverted hacker news icon"></i>
							Hacker News
						</a>
					  </div>
					</div>
					<div class="seven wide column">
					  <h4 class="ui inverted header">Footer Header</h4>
					  <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
					</div>
				  </div>
				  <div class="ui inverted section divider"></div>
					  <div class="ui horizontal inverted small divided link list">
						<a class="item" href="/robots.txt">Robots</a>

						<a class="item" href="/sitemap.xml">Site Map</a>

						<a class="item" href="http://github.com/permosegaard/trader/LICENCE">Licence</a>
					  </div>
				</div>
			</div>

		</div>

		<script>
			function element_pulse( element, reach, speed, repeat ) {
				element.pulsate({
				  color: "rgba( 255, 255, 255, 255 )",
				  reach: reach, speed: speed, pause: 0,
				  glow: true, repeat: repeat, onHover: false
				});
			}

			$( ".item_hover" ).mouseenter(
                function()  {
                        element_pulse( $( this ), 3, 600, false );
                        $( this ).css( "background-color", "white" );
                });
			$( ".item_hover" ).mouseleave( function()  { $( this ).css( "background-color", "transparent" ); } );


			$( ".menu_item" ).mouseenter( function()  { element_pulse( $( this ), 3, 400, false ); } );
			$( ".menu_item" ).mouseleave( function()  { element_pulse( $( this ), 3, 400, false ); } );

			$( ".control_header_tools" ).popup({ position: "bottom center", on: "click" });
		</script>
		<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-75283127-1', 'auto');ga('send', 'pageview');</script>
    </body>
</html>
